-# encoding: utf-8
%li.hentry
	%span.vcard.author
		%a.fn.url{:href => item[:author][:url]}= item[:author][:fn]
	%span.entry-content
		!= item[:content_full].force_encoding('utf-8')
	%a.published{:rel => "bookmark", :href => item[:bookmark]}
		= item[:published]
