-# encoding: utf-8
!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml")

	!= include 'views/invisible_header.haml'

	%body
		%h1
			%a{:href => $config['approot']}= title

		%p= message

		!= include 'views/visible_footer.haml'
