%footer
	%p
		This site is under heavy development.  Please
		%a(href="https://github.com/singpolyma/musearch/issues") report
		any issues you encouter.
	%a(rel="source" href="https://github.com/singpolyma/musearch")
		source code
